{% extends "_base.html" %}

{% block content %}
<section class="desc-background" style="padding-left: 2%;">
    <h2 style="color: white">Фильмы, заслуживающие вашего внимания</h2>
    <div style="background-color: whitesmoke; display: inline-block; border-radius: 3px">
        <h2> в Москве</h2>
    </div>
</section>

<div id="films-list" class="album text-muted">
  <div class="container">
    <div class="row">
        {% for film in films %}
          <div class="col-md-4">
              <div class="card" style="display: inline-block">
                <img class="card-img-top" style="width: 100%; height: auto" src="{{ film["image"] }}" alt="Кадр из фильма">
                <div class="card-body">
                    <h4 class="card-title">
                        {{ film['name'] }}
                    </h4>
                    <p>
                        {{ film["description"] }}
                    </p>
                    <p class="card-text" style="padding: 5px">
                        Жанр: {{ film["genre"] }}
                        <br>
                        <span>
                            Средний балл: {{ film["score"] }} из 10
                        </span>
                        <br>
                        <span title="Количество кинотеатров" style="margin-right: 0">
                            <i class="fas fa-film"></i>
                            {{ film["cinemas_num"] }}
                        </span>
                        <br>
                        <a href="{{ film['url_on_afisha'] }}">Страница на Афише</a><br>
                    </p>
                </div>
              </div>
          </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
